.contenedor {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin: 30px;
}

.cart-imagen {
    height: 120px;
    width: 100px;
    object-fit: cover;
    text-align: center;
}

.cart-total{
    text-align: center;
}

.cart-counter {
    cursor: pointer;
    font-weight: bold;
}
  .cart-vacio {
    text-align: center;
    margin-top: 40px;
  }

  .disabled {
  opacity: 0.5;
}